<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Spring demo</title>
</head>
<body>
  <h1>
    <a th:text="#{customer.title}" th:href="@{/}">顧客一覧</a>
    > <span th:text="#{customer.detail}">詳細</span>
  </h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th th:text="#{customer.name}">名前</th>
        <th th:text="#{customer.post}">郵便番号</th>
        <th th:text="#{customer.address}">住所</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.post}"></td>
        <td th:text="${customer.address}"></td>
      </tr>
    </tbody>
  </table>
  <a href="?lang=ja" th:href="@{?lang=ja}">日本語</a>
  <br/>
  <a href="?lang=en" th:href="@{?lang=en}">English</a>
</body>
</html>