<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>顧客詳細</title>
</head>
<body>
  <div layout:fragment="content">
  <h1>
    <a th:text="#{customer.title}" th:href="@{/}">顧客一覧</a>
    > <span th:text="#{customer.detail}">詳細</span>
  </h1>
  <form th:action="@{/customer/register}" th:object="${customer}"
  method="post">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th th:text="#{customer.name}">名前</th>
        <th th:text="#{customer.post}">郵便番号</th>
        <th th:text="#{customer.address}">住所</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <input type="hidden" th:field="*{id}">
        <td th:text="${customer.id}">
        </td>
        <td>
          <input type="text" th:field="*{name}">
        </td>
        <td>
          <input type="text" th:field="*{post}">
        </td>
        <td>
          <input type="text" th:field="*{address}">
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button class="btn btn-primary" type="submit">登録</button>
  </div>
  </form>
  </div>
</body>
</html>